<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Covid19</display-name>
  <servlet>
    <servlet-name>UserRegisterationServlet</servlet-name>
    <servlet-class>UserRegisterationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegisterationServlet</servlet-name>
    <url-pattern>/userregistered</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Servlet</servlet-name>
    <servlet-class>Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminLogInServlet</servlet-name>
    <servlet-class>AdminLogInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogInServlet</servlet-name>
    <url-pattern>/adminlogedin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetVaccinatedServlet</servlet-name>
    <servlet-class>GetVaccinatedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetVaccinatedServlet</servlet-name>
    <url-pattern>/getVaccinated</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GeneratePdfServlet</servlet-name>
    <servlet-class>GeneratePdfServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GeneratePdfServlet</servlet-name>
    <url-pattern>/downloadCertificate</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>